# Core functionality - changes here should be rare!
/src/app.py                   @k1tten42
/src/backend/database.py      @k1tten42
/src/backend/routers/auth.py  @k1tten42

# The frontend will need refactored soon to be more object oriented.
/src/static/   @k1tten42
